<h1><%= link_to h(@list.name), list_path(@list) %><% unless params[:tag].blank? %> (tagged with <i><%=h params[:tag] %></i><% end %>)</h1>

<% if @items.empty? %>
  <em>No items in this list</em>
<% else %>
  <ul class='items'>
    <% @items.each do |item| %>
    
      <li<%= ' class="completed"' if item.completed? %>><%= check_box_tag "complete_#{item.id}", '1', item.completed? %> <span><%=h item.text %></span> [<%= item.categories.collect{|c| link_to(c.name, {:tag => h(c.name)})}.to_sentence %>]</li>
    <% end %>
  </ul>
<% end %>

<hr noshade />

<% form_for([@list, @new_item]) do |f| %>
  <%= f.label :text, 'Add Item:' %>
  <%= f.text_field :text %>
  <%= f.label :category_list, 'Categories:' %>
  <%= f.text_field :category_list %>
  
  <%= f.submit "Add" %>
<% end %>

<hr noshade />
<%= link_to 'Return to list index', lists_path %>